<p id="notice"><%= notice %></p>


 <h1 class="headline">
  <%= @wishlist.user.email %>'s Wishlist
  </h1>
  <hr>



    <% @wishlist.products.each do |product| %>

      <%= link_to image_tag(product.pic_url, {class: 'front'}), product %>
 <button class='btn btn-danger'> <%= link_to 'Delete', product,  method: :delete, data: { confirm: 'Are you sure?' } %></button> <br>
       <strong><%= product.title %></strong><br>
        <%= product.description %>

        <hr>

    <% end %>


<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', :back %>
