<p id="notice"><%= notice %></p>
    <!-- Navigation -->
<div class='allitems'>

<h1 class="headline">Products</h1>
<hr>

        <% @products.each do |product| %>
<div class='eachitem'>

        <%= link_to image_tag(product.pic_url, {class: 'front'}), product %> <br>
        <strong><%= product.title %></strong>
        <br>
        <%= product.description %><br>
        <%= link_to "Add to wishlist", toggle_path(product), {class: 'btn btn-info'} %>  <br>
</div>


    <% end %>
</div>

<br>




<!-- <div class='buttondown'>

<button class="btn-warning hours"> <a href='/'>Back </a></button>

</div> -->
