

<p id="notice"><%= notice %></p>

<h1>
  <%= @product.title %>
</h1>
<p>

<img class="front" src="<%= @product.pic_url %>">
</p>

<p>

  <%= @product.description %>
</p>


<button class="btn-warning"> <%= link_to 'Back', :back %> </button>

<footer class="foot">
                    <p>Copyright &copy; Odysseus Vapor</p>
        </footer>
